.iframeContainerContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.iframeContainer {
    position: absolute;
  
    /* ensure positioning regardless of parent flex settings */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    width: 100%;
    height: 100%;
  
    /* important */
    container-type: size;
  
    /* cut off overflowing video */
    overflow: hidden;
}

.iframe {
    position: absolute;
    /* keep video centered both vertically and horizontally */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 100%;
    height: 100%;
  
    /* force aspect ratio based on parent container */
    @container (min-aspect-ratio: 16/9) {
      height: 56.25cqw; /* 100*9/16 */
    }
  
    @container (max-aspect-ratio: 16/9) {
      width: 177.78cqh; /* 100*16/9 */
    }
  
    /* prevent interaction */
    pointer-events: none;
    border: none;
    user-select: none;
}
