.container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buttonContainer {
    padding: 2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}